/* #home_div {
    background-image: url('images/home.png');
} */

.home-div {
    background-image:  url('images/home.png'); /* URL to the image file */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  

  /* body {
    background-color: #f5f5f5;
    color: #333;
} */
.learn-box {
    margin-left: 60px;
    margin-top: 80px;
    /* background: white; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 40px;
    color: white;
}
.btn-custom {
    width: 60%;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 1px 1px #c5d8ec;

}
.btn-learn {
    background-color: #0777ff;
    color: white;
}
.btn-learn:hover {
    background-color: #0056b3;
    color: white;
}
.btn-quiz {
    background-color: #157fff;
    color: white;
}
.btn-quiz:hover {
    background-color: #83bfff;
    color: white;
}