
{% extends "layout.html" %}

{% block content %}

<div class="row home-div">

    <div class="col learn-box text-left">
        <h1 class="mb-4">Learn Cash Flow </h1>
            <h1 class="mb-4">in Only 10 minutes</h1>
        <p class="lead mb-5">Understand the three types of cash flow <br>on a cash flow statement.</p>
        
        <!-- Learn Button -->
        <a href="/learn" class="btn btn-custom btn-learn m-2">Learn</a>
        <br>
        <!-- Quiz Button -->
        <a href="/quiz" class="btn btn-custom btn-quiz m-2">Take the Quiz</a>
    </div>
    
    <div class ="col">
    </div>
    </div>
    {% endblock %}
